<table>
      <tr>
        <th>Tarea</th>
        <th>Prioridad</th>
        <th>Horas</th>
        <th>Acciones</th>
      </tr>

    {% for task in tasks %}

        <tr>
            <td>{{task.title}}</td>
            <td>{{task.priority}}</td>
            <td>{{task.hours}}</td>
            <td class="buttons">
                <a href="{{path('task_detail', {'id': task.id})}}" class="ver">Ver</a>
                {% if app.user != null && task.user.id == app.user.id %}
                <a href="{{path('task_edit', {'id': task.id})}}" class="edit">Editar</a>
                <a href="{{path('task_delete', {'id': task.id})}}" class="del">Borrar</a>
                {% endif %}
            </td>
        </tr>

    {% endfor %}

    </table>